# node modules
node_modules/

# env file (berisi BASE_URL, API key, dll)
.env

# build output
dist/
build/

# editor junk
.DS_Store
*.log
*.swp
*.swo

# Vite cache (jika kamu pakai Vite)
.vite/
